.import_text{
    border-radius: 8px;
    width: 100%;
    margin: 0.5rem 0;
    border: none;
    background-color: #ffffff1a;
    padding: 0.6rem;
}

.go_back_btn {
    border: 2px solid white;
    color: #fff;
    background: none;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 12px;
}

.import_wallet_btn {
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff;
    color: #000;
    margin-left: 1rem;
}