.main_footer {
    padding: 1rem 0;
    border-top: 1px solid rgb(69,69,69);
    background-color: #0a0a0a;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_logo{
    width: 40px;
}

.social_icons {
    font-size: .8rem;
    color: #ffffff;

}


.footer_content {
    font-size: 1.4rem;
    color: #eaeaea;
}